<ion-view class="walkthrough-view" cache-view="false">
  <ion-content scroll="false">
    <div class="top-content row">
      <ion-slide-box delegate-handle="walkthrough-slider" show-pager="true">
        <ion-slide>
          <div class="row slide-content">
            <div class="col">
              <h3 class="slide-h" style="color:#fff;">♫ The Cryns Family Music Archive! ♫</h3>
              <img class="slide-image" ng-src="img/wordpress_logo_white.png"/>
              <p class="slide-p">
                Simply the best Cryns music this side of the Mississippi.
              </p>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="row slide-content">
            <div class="col">
              <h3 class="slide-h">An App by Toby Cryns Based on the Collaborative Work at Music.Cryns.com</h3>
              <img class="slide-image" ng-src="img/toby.png"/>
            </div>
          </div>
        </ion-slide>
      </ion-slide-box>
    </div>
    <div class="bottom-content row">
      <div class="col col-center">
        <a class="login button button-block" ui-sref="login">
          Log In
        </a>
      </div>
      <div class="col col-center">
        <a class="sign-up button button-block" ui-sref="register">
          Register
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
