<ion-view class="contact-view">
  <ion-nav-title>
    <span>Contact</span>
  </ion-nav-title>
  <ion-content>
    <div>
      <map data-tap-disabled="true" center="{{position.lat}},{{position.lng}}" zoom="15" disable-default-u-i="true">
        <marker
          position="{{position.lat}},{{position.lng}}"
          title="Hello Marker"
          visible="true">
        </marker>
      </map>
    </div>
    <div class="contact-content">
      <div class="">
        <p>
          Contact Toby at toby@cryns.com
        </p>
      </div>
      <div class="contact-details-item">
        <h4>Address</h4>
        <div class="featured">Toby Cryns</div>
        <div>400 S. 4th St., Suite #401</div>
        <div>Minneapolis, MN 55415</div>
      </div>
      <div class="contact-details-item">
        <h4>Social Networks</h4>
        <div class="row social-networks" dynamic-anchor-fix>
          <div class="col"><a href="http://twitter.com/cryns"><i class="icon ion-social-twitter twitter-icon"></i></a></div>
        </div>
      </div>
      <div class="send-email">
        <button class="button button-outline button-block featured" ng-controller="EmailSenderCtrl" ng-click="sendContactMail()">
          Send us an email
        </button>
      </div>

    </div>
  </ion-content>
</ion-view>
